// Tools: Transition

// Shorthand for setting a transition on multiple properties
// eg. @include transition_for(0.3s ease-in-out, background-color, color)

// Combine with transition variables for further simplicity
// eg. @include transition_for($ease, background-color, color)

$ease: 0.3s ease-in-out;

@mixin transition($transition, $args...) {
  $properties: ();

  @each $arg in $args {
    $properties: append($properties, $arg, $separator: comma);
  }

  transition: all $transition;
  transition-property: $properties;
}
