// Settings: Typography

@font-face {
  font-family: 'League Spartan VF';
  src:  url('/fonts/LeagueSpartanVariable.woff2') format('woff2-variations'),
        url('/fonts/LeagueSpartanVariable.woff2') format('woff2');
  font-weight: 200 900;
 }

@font-face {
  font-family: 'League Spartan';
  src: url('/fonts/LeagueSpartan-Regular.ttf') format('truetype');
  font-weight: normal;
}