@font-face {
  font-family: "Electric Dreams Script";
  src: url("/assets/fonts/ElectricDreamsScript.woff2") format("woff2"),
    url("/assets/fonts/ElectricDreamsScript.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Electric Dreams Outline";
  src: url("/assets/fonts/ElectricDreamsOutlineBold.woff2") format("woff2"),
    url("/assets/fonts/ElectricDreamsOutlineBold.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Electric Dreams";
  src: url("/assets/fonts/ElectricDreamsSolid.woff2") format("woff2"),
    url("/assets/fonts/ElectricDreamsSolid.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
