// Objects: Container

.o-container {
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 20px;

  @include mq($from: sm) {
    padding: 0 40px;
  }

  @include mq($from: md) {
    padding: 0 60px;
  }
}

.md\:o-container {
  @include mq($from: md) {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 60px;
  }
}

.lg\:o-container {
  @include mq($from: lg) {
    margin: 0 auto;
    max-width: 1400px;
    padding: 0 60px;
  }
}
